.navbar-inverse{
	background-color:#5C2121;
	border:none;
	border-radius:0px;
}
.navbar-inverse .navbar-brand{
	color: #FDFDFD;
}

.navbar-inverse .navbar-brand:hover{
	color:#EBDF23;
}

.navbar-inverse .navbar-nav>li>a {
	color:#FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color:#10E6EE;
}